## Ripple stats during sleep deprivation

In [3]:
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import pandas as pd
from ModulesPath.plotUtil import Fig
import subjects
import seaborn as sns

sessions = subjects.Sd().allsess

In [5]:
%matplotlib widget
figure = Fig()
fig,gs = figure.draw(grid=(1,1),size=(4,4))
df = pd.DataFrame()
for sub,sess in enumerate(sessions):

    post = sess.epochs.post
    sd_period = [post[0],post[1]]
    # sd_period = [post[0]+5*3600,post[1]]
    rpls = sess.ripple.epochs
    states = sess.brainstates.epochs

    sd_bin = np.arange(sd_period[0],sd_period[1],300)
    hist_rpl = np.histogram(rpls.start,bins=sd_bin)[0]

    df = df.append(pd.DataFrame({'n_ripples':hist_rpl/300,'tbin':np.arange(len(sd_bin)-1),'sub':sub}))


ax = plt.subplot(gs[0])
sns.lineplot(data=df,x='tbin',y='n_ripples')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [13]:
df

    n_ripples   tbin
0          65  15146
1          23  15446
2          36  15746
3          23  16046
4          57  16346
..        ...    ...
54         93  31018
55        194  31318
56        207  31618
57        160  31918
58        164  32218

[236 rows x 2 columns]